
@import "../../../asset/mixins/_mixins";
@import '../../../asset/scss/variables.scss';

.thread-container {
    width: 100%;
    .message{
        background-color: #EAEAEA;
        width: 80%;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .threaddate {
        font-size: 12px;
        padding-top: 10px;
    }
    .thread-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.donate {
    display:  flex;
    flex-direction: column;

    h5 {
        margin-bottom: 30px;
    }
    #donation {
        flex: 0.30;
    }
    #payment {
        flex: 0.70;
    }

    .bottom {
        display: flex;

        #cvc {
            flex: 0.9;
        }
        #expiry {
            flex: 0.1;
        }
    }
    .icons {
        padding-bottom: 30px;
    }
}

@media (min-width: 769px) {
    .donate {
        flex-direction: row;


        #donation {
            flex: 0.40;
        }
        #payment {
            flex: 0.60;
        }
    }
}
