.video {

    // width: 1122px;
    height: 476px;
    left: 283px;
    top: 183px;

    background: linear-gradient(0deg, rgba(3, 128, 214, 0.12), rgba(3, 128, 214, 0.12)), url(../../../asset/img/video.svg);
    background-position: center;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    .playbutton {
        // position: absolute;
        width: 120px;
        height: 120px;
        left: 784px;
        top: 365px;
        background: #FFFFFF;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        .playicon {
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-left: 25px solid #0380D6;
            border-bottom: 25px solid transparent;
        }
    }
}