@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
  --bg: #EDF2F7;
  --bg-accent: #EDF2F7;
  --text-color: #ffffff;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --primary: #0a263b;
  --primary-color: #0380D6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}
h2 {
  color: var(--primary);
  font-weight: 500;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  /* width: 0; */
  display: none;
  background: #363740;
  /* padding: 15px 10px; */
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 240px;
}

.sidebar .logoContent .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  margin: 20px 0 0 20px;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logoContent .logo {
  opacity: 1;
  pointer-events: none;
}
.sidebar.active .profile #logOut {
  left: 88%;
}

.sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #363740;
}
.sidebar #menubtn {
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
 .sidebar.active #menubtn {
     left: 90%;
 }
.sidebar ul {
  margin-top: 50px;
}
.sidebar ul li{
  position: relative;
  height: 50%;
  /* width: 100%; */
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}


.sidebar ul li .tooltip{
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #363740;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li a{
  color: #A4A6B3;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  /* border-radius: 12px; */
  white-space: nowrap;
}
.sidebar ul li a:hover{
  color: #fff;
  background: rgba(255,255,255,.1);
}
.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .linksName {
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .linksName {
  opacity: 1;
  pointer-events: none;
}
.sidebar .profileContent {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profileContent .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1d1b31;
}
.sidebar.active .profile .profileDetails {
  opacity: 1;
  pointer-events: auto;
}

.sidebar.active ~ .main {
  width: calc(100% - 240px);
  left: 250px;
}
.sidebar.active ~ .navbar {
  width: calc(100% - 240px);
  left: 250px;
}




.logoContent i {
  font-size: 20px;
  margin-right: 5px;
}
.logoContent .logo {
  font-size: 20px;
  font-weight: 400;
}
.logo svg {
  width: 70%;
}

.profileContent .profile .profileDetails {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.profile .profileDetails img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profileDetails .nameJob{
  margin-left: 10px;
}
.profile .profileDetails .name{
  font-size: 15px;
  font-weight: 400;
}
.profile .profileDetails .job{
  font-size: 12px;
}
.profile #logOut {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
}

.main {
  position: absolute;
  height: 100%;
  /* z-index: -1; */
  width: 100% ;
  /* left: 90px; */
  transition: all 0.5s ease;

  padding: 0 20px;
  margin-top: 60px;
}

.navbar {
  position: absolute;
  line-height: 50px;
  background: #fff;
  color: #0380D6;
  font-weight: 800;
  font-size: 14px;
  top: 0;
  left: 0;
  position: sticky;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 200px; */
  /* width: 100%; */
  transition: all .5s;
}
.navbar h1 {
  opacity: 0;
}
.navbar-right {
  align-items: center;
  justify-content: center;
  display: none;
}
.navbar-right h1 {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0,0,0,0.7);
}

.navbar-right .vertical {
  height: 35px;
  width: 1px;
  background-color: #cbd5e0;
  margin: 0 30px;
}
.navbar i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  color: #363740;
  font-size: 20px;
  font-weight: 700;
  /* text-align: center; */
}


::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #6d6d6d;
}




@media (min-width: 769px) {
  .sidebar {
    display: block;
  }
  .main {
    width: calc(100% - 90px);
    left: 50px;
  }
  .navbar-right {
    display: flex;
  }
  .navbar h1 {
    opacity: 1;
  }
  .navbar {
    margin-left: 50px;
  }
  .navbar i {
    display: none;
  }
}

@media (min-width: 1399px) {
  
}